{% extends 'base.html' %}
{% load helper_tags %}
{% load collection_tags %}
{% load pagination_tags %}

{% block title %} 收藏夹-{{ collection.name }}-详情 {% endblock %}
{% block content_header %} 收藏夹-{{ collection.name }}-详情 {% endblock %}

{% block sidebar %}
  {% render_sidebar 'data.collection' %}
{% endblock %}

{% block content %}

{% autopaginate reports %}
<table class="table table-bordered">
  <caption>收藏夹-{{ collection.name }}-详情</caption>
  <thead>
  <tr>
    <th>报表名称</th>
    <th>创建人</th>
    <th>收藏夹</th>
    <th>url</th>
    <th>类型</th>
    <th>创建时间</th>
  </tr>
  </thead>
  <tbody>
  <!-- 分页显示report -->
  {% for report in reports %}
    <tr>
      <td>{{ report.name }}</td>
      <td>{{ report.creator.username }}</td>
      <td>{{ report.collection }}</td>
      <td>{{ report.url }}</td>
      <td>{{ report.type }}</td>
      <td>{{ report.create_at|date:'Y年m月d日 H:i' }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% paginate %}

<p>
  <a class="btn btn-primary" href="#create-outreport" data-toggle="modal">创建外部报表</a>
</p>


<div class="modal fade" id="create-outreport">
  <!-- 创建外部报表 -->
  <div class="modal-dialog">
    <div class="modal-content">

      <form action="{% url 'create_report' %}" method="post" name="reportForm">
        {% csrf_token %}

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span>
            <span class="sr-only">Close</span></button>

          <h4 class="modal-title">创建外部报表</h4>
        </div>

        <div class="modal-body">
          <input name="creator" value="{{ collection.creator.id }}" type="hidden">
          <div class="form-group">
            <label class="control-label" for="id_name">报表名称：</label>
            <input class="form-control" type="text" name="name" placeholder="名称" required/>
          </div>

          <div class="form-group">
            <label class="control-label" for="id_url">url:</label>
            <input class="form-control" type="url" name="url" placeholder="http://" required>
          </div>

          <input type="hidden" name="collection" value="{{ collection.id }}"/>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button class="btn btn-primary" ng-disabled="reportForm.$invalid">Save</button>
        </div>
      </form>

    </div>
  </div>
</div>
{% endblock %}
